<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ETVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ETVR.Properties.Settings>
            <setting name="urlL" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="urlR" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sliderL" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="sliderR" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="blobHeightL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blobWidthL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blobHeightR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blobWidthR" serializeAs="String">
                <value>0</value>
            </setting>
        </ETVR.Properties.Settings>
    </userSettings>
</configuration>